#for Spring
SPRING_PORT=

#for DB
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

#for jwt
JWT_SECRET_KEY=
REFRESH_EXPIRES_DAYS=

#for media
FILES_STORAGE_PATH=
MAX_FILE_SIZE=
MAX_REQUEST_SIZE=
